body {
    margin: 0;
    text-align: center;
    font-family: Inter, sans-serif;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
    background-color: #6943FF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 20px;
}

#user-input {
    width: 80px;
    height: 60px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: inherit;
}

#user-input:focus {
    outline: none;
    border: 2px solid #fbfaff;
    box-shadow: 0 0 10px #719ECE;
}

::placeholder {
    color: #B295FF;
}

input:focus::placeholder {
    width: 80px;
    height: 60px;
    color: transparent;
  }

#convert-btn {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: all .2s ease-in-out;
}

#convert-btn:hover {
    background-color: rgb(167, 165, 165);
}

#convert-btn:active {
    transform: scale(1.1);
	transition: .1s;
}

.bottom {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.length,
.volume,
.mass {
    background-color: #273549;
    width: 95%;
}

.length {
    margin-top: 20px;
}

.mass {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #CCC1FF;
}

p {
    font-size: 12px;
}

@media (min-width: 500px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
    }
    #user-input {
        width: 100px;
        height: 80px;
        font-size: 40px;
    }
    #convert-btn {
        font-size: 20px;
    }
}